data/
build/
cmake-build-debug/
cmake-build-release/

*.o
*.a
*.so
*.exe
*.dll
*.out

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

.DS_Store
Thumbs.db

.idea/

*.log
*.tmp
*.swp

*.user
*.sublime-workspace

*.xml

main.c
mainArray.c
mainLinked.c
obce.txt
poznamky.txt

